body {
  background-image: image("css/images/marchbkg.jpg");
  color: #f5f5f5;
}

#header {
  background-color: #b0c4de ;
}

#fb {
  float: right;
  background-color: transparent;
}

#donate {
  float: right;
  background-color:  #00bfff;
  border: solid 2px;
}

#nav {
  background-color: transparent;
}

li {
  list-style: none;
  text-align: left;
}

#slider {
  border: solid white 2px;
}
